{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="container min-vh-100 d-flex align-items-center">

    <div class="row justify-content-center align-items-center w-100 g-5">

        <!-- Sign Up Card -->
        <div class="col-lg-5 col-md-6">

            <div class="card border-0 shadow-lg rounded-4 p-5">

                <h2 class="fw-bold text-center mb-2">
                    Forgot Password
                </h2>

                <p class="text-center text-secondary mb-4">
                    Please enter your account email to send code
                </p>

                <form action="{% url 'accounts:forgot-password' %}" method="post">

                    {% csrf_token %}

                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        <input type="email"
                            class="form-control"
                            name="email"
                            placeholder="Email">
                    </div>

                    <button class="btn btn-primary btn-lg w-100 rounded-3">
                        Send Code
                    </button>

                </form>

                <hr class="my-4">

            </div>

        </div>

        <!-- Right Side -->
        <div class="col-lg-5 d-none d-lg-flex justify-content-center">

            <img src="{% static 'assets/img/hero-img.png' %}"
                 class="img-fluid"
                 style="max-height:500px;"
                 alt="Illustration">

        </div>

    </div>

</div>

{% endblock %}