{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Not build yet {% endblock %}</title>

{% block main %}


  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'website:index' %}">Home</a></li>
            <li class="current">Not deployed yet</li>
          </ol>
        </nav>
        <h1>Not deployed yet</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Error 404 Section -->
    <section id="error-404" class="error-404 section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="text-center">
          <div class="error-icon mb-4" data-aos="zoom-in" data-aos-delay="200">
            <i class="bi bi-exclamation-circle"></i>
          </div>

          <h1 class="error-code mb-4" data-aos="fade-up" data-aos-delay="300">Not deployed yet</h1>

          <h2 class="error-title mb-3" data-aos="fade-up" data-aos-delay="400">You caught us!</h2>

          <p class="error-text mb-4" data-aos="fade-up" data-aos-delay="500">
            We're still building this part of site!
          </p>

          <div class="error-action" data-aos="fade-up" data-aos-delay="700">
            <a href="{% url 'website:index' %}" class="btn btn-primary">Back to Home</a>
          </div>
        </div>

      </div>

    </section><!-- /Error 404 Section -->

  </main>

{% endblock %}