{% load humanize %}
<!-- Recent Blog Postst Section -->
    <section id="recent-blog-postst" class="recent-blog-postst section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Recent Blog Posts</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">
        {% for post in posts %}
          <div class="col-xl-4 col-md-6">
            <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">

              <div class="post-img position-relative overflow-hidden">
                <img src="{{post.image.url}}" class="img-fluid" alt="">
                <span class="post-date">{{post.created_date|naturaltime}}</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{post.title}}</h3>

                <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">{{post.author.get_full_name}}</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> 
                    {% for cat in post.category.all %}
                    <span class="ps-2">{{cat.name}}</span>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </div>
                </div>

                <hr>

                <a href="{% url 'blog:single' pid=post.id %}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

              </div>

            </div>
          </div><!-- End post item -->
        {% endfor %}
        </div>

      </div>

    </section><!-- /Recent Blog Postst Section -->